[Desktop Entry]
Name=DSBMC
Exec=dsbmc
Icon=drive-harddisk-usb
Terminal=false
StartupNotify=false
Type=Application
Categories=System;Application
MimeType=application/x-cd-image;application/x-raw-disk-image;

